.about{
	font-size: large;
	text-align: center;
	animation-name: about;
	animation-duration:30s;
}
@keyframes about {
	0% {background-color: #6b5b95;}
	25%  {background-color: #feb236;}
	50%  {background-color: #d64161;}
	100% {background-color: #ff7b25;}
}

.ventures{
	font-size: large;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	background-color: lightgray;
}

.kittens{
	background: blueviolet;
}

.pi{
	background: #be0032;
}

.drone{
	background: #f38400;
}

.resume{
	font-size: large;
	text-align: center;
	background-color: lightgray;
}

.canon{
background: #f3c300;
}
.fidelity{
background: #008856;
}
.unity{
	background:#00a1c2;
}
.lavu{
background: #9a4eae;
}

.contact{
	font-size: large;
	text-align: center;
	animation-name: contact;
	animation-duration: 30s;
}
@keyframes contact {
	0% {background-color: #72b2c5;}
	25% {background-color: #62d399;}
	50% {background-color: #53ea7b;}
	100% {background-color: #93dfa0;}
}


.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.fa-pinterest {
	background: #cb2027;
	color: white;
}

.fa-vimeo {
	background: #45bbff;
	color: white;
}
