.about{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: large;
	text-align: center;
	animation-name: about;
	animation-duration:10s;
}
@keyframes about {
	0%   {background-color: #6b5b95;}
	25%  {background-color: #feb236;}
	50%  {background-color: #d64161;}
	100% {background-color: #ff7b25;}
}

.ventures{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: large;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	background: black;

}

.kittens{
	background: #ffb5ba;
}

.pi{
	background: #be0032;
}

.drone{
	background: #f38400;
}

.resume{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: large;
	text-align: center;
}

.canon{
background: #f3c300;
}
.fidelity{
background: #008856;
}
.unity{
	background:#00a1c2;
}
.lavu{
background: #9a4eae;
}

.contact{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: large;
	text-align: center;
	animation-name: contact;
	animation-duration: 10s;
}
@keyframes contact {
	0%   {background-color: red;}
	25%  {background-color: yellow;}
	50%  {background-color: blue;}
	100% {background-color: green;}


.nav{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: large;
}

.p-5 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

